#wrapper{
	width: 1024px;
	margin: 0 auto;
}
.clear{
	clear: both;
}

img{
	width: 100$%;
	height: 100%;
}

#logo{
	width: 19.53125%;
	float: left;
}
#logo a{
	width: 100%;
	overflow: hidden;
}

.dgmc_slogan{
	width: 80%;
	float: left;
	text-align: center;
	color: silver;
	font-family: "Rock Salt";
	font-size: .75em;
	line-height: 1.5em
	margin: 2% 15%;
}
#main_nav{
	width: 100%;
}

#main_nav ul{
	width: 100%;
	float: left;
	list-style-type: none;
	padding: 0;
	line-height: 2em;
	border-bottom: 1px solid black;
}
#main_nav ul li{
	width: 20%;
	float: left;
	text-align: center;
}
